target/
.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd
!**/src/main/**/target/
!**/src/test/**/target/
.gitignore
.gitattributes
.mvn

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
